/*
 * docstyle.css -- Contains the styling definition for the HTML documentation.
 *
 * $Revision$
 */

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 90%;
  color: #000000;
  background: #FFFFFF;
}

a:link { color: #0000CC; }
a:visited { color: #000080; }
a:active { color: #CC0000; }

code {
  font-family: courier, fixed;
  font-size: 110%;
}

span.product {
  font-style: italic;
}

sup {
  font-size: 60%;
}

span.arg {
  font-style: italic;
  font-weight: bold;
}

h1 {
  font-size: 250%;
  font-weight: bold;
  color: #000080;
}

h2 {
  font-size: 140%;
  font-weight: bold;
  color: #000080;

  margin: 4ex 0 2ex 0;
  padding: 0px 0px 3px 10px;
  width: 15em;

  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-bottom-color: #AAAAAA;
}

p.important {
  font-weight: bold;
  color: #CC0000;
  margin: 0ex 0em 0ex 2em;
}

p {
  line-height: 1.3;
  margin: 0 0 0 2em;
}

p + p {
  text-indent: 2em;
}

p.revision {
  font-size: 80%;
  text-indent: 0em;
  margin: 0 0 -2ex 0;
  text-indent: 0em;
}


/* Use french quotes */
q {
  quotes: "\00AB" "\00BB";
}

/* External links are shown differently from internal links */
a.ext:before {
  content: "\00BB";
  font-weight: bold;
}
a.ext:after {
  content: "";
}

/* bulleted lists */
ul {
  list-style-type: square;
  color: #000080;
}

li {
  margin-left: .5em;
}

li + li {
  margin-top: .5ex;
}

li > span {
  color: #000000;
}

div.annotation {
  font-size: 90%;
  font-style: italic;
  margin: .25ex 1em 0ex 2em;
}

/* End of docstyle.css */
